# Python cache files
__pycache__/
*.pyc

# Virtual environments
env/
venv/
amazon_env/

# Logs
*.log

# macOS system files
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints/

#data files 

data/
*.jsonl
*.csv
*.parquet
